.wrapper {
  margin: none;
  backgroud-color: blue;
}

header {
  padding: 30px 0;
	border-bottom: solid;
  border-color: black;
	font: italic Georgia, serif;
  color: white;
	font-size: 30px;
	text-shadow: 0 0 7px black, 0 0 5px black;
  background-image: url("https://is.muni.cz/auth/www/488358/juego-de-tronos-islandia.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
  text-align: center;
  font-style: oblique;
}

footer {
}

.page {
  float: right;
  width: 75%;
  border-left: solid;
  padding-left: 2em;
  padding-bottom: 4em;
  min-height: 400px;
  min-width: 500px;
  background-color: lightsteelblue;
  background-repeat: repeat-y;
  background-size: 100%;
}

aside {
  float: center;
  width: 15%;
  margin-top: 1em;
  font-style: oblique;
	color: blue;
	font-size: 30px;
  text-aligh: center;
  font-weight: bold;
  font: italic bold 12px/30px Georgia, serif;
  
}

nav ul {
  list-style-type: none;
  font-family: times new roman;
  font-size: 20px;
  background-size: 100%;
 

nav li {
  margin-bottom: 1em;
  font-family: times new roman;
  font-size: 20px;
}

nav .active {
  font-weight: bold;
}

title {
  font-size: 70px;
  color: black;
  font-family: helvetica;
  }
  
 

